body {
    margin: 0; 
    background-color: rgb(51, 51, 51);
}



#container{
    height: 100vh;
    width: 100vh;
    display: flex; 
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    
}

.box {
    box-sizing: border-box;
    height: 33%;
    width: 33%;
    border: 3px solid white; 
    border-radius: 25px;
    font-size: 20vh; 
    text-align: center;
}

#reset{
    /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: rgb(73, 73, 73);
  background-color: #ffffff;
}